@charset "ISO-8859-1";
	.tabla {
		font-size: 20px;
		border: 5px solid;
		border-color: #000000;
		margin: 30px;
	}
	.td {
		padding: 10px;
		border: 2px solid;
		border-color: #cccccc;
	}
	.par {
		background-color: yellow;
		color: black;
	}
	.impar {
		background-color: green;
		color: black;
	}
